@import '../../styles/variables.scss';
@import '../../styles/global.scss';
.button {
  border-radius: $radius;
  color: $color-white;
  font-size: px(14);
  font-family: $font-family-bold;
  &.primary {
    color: $primary-color-blue;
    &:hover {
      color: $primary-color-blue-hover;
    }
  }
  &.secondary {
    color: $primary-green-blue;
    &:hover {
      color: $primary-color-green-hover;
    }
  }
}
