@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/global.scss';
.container {
  @include container;
  @include v-center;
  height: px(85);
  gap: px(10);
  .item {
    @include v-center;
    color: $color-gray-3;
    gap: px(10);
    a {
      color: $color-gray-3;
    }
  }
}
