.container {
    width: 100vw;
    display: block;
    position: relative;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        .carousel {
            flex: 1;
        }
        .details {
            flex: 1;
        }
    }
}
